*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: 'Poppins', sans-serif;
}
body{
    background-color: #F3F1FF;
}
.container{
    width: 870px;
    /* height: 697px; */
    padding: 20px;
    margin-top: 20px;
    border-radius: 5px;
    background-color: #FFFFFF;
}
main{
    display: flex;
    align-items: center;
    flex-direction: column;
}
.area-title{
    color: #562EFF;
    font-size: 24px;
    font-weight: 500;
    margin-bottom: 40px;
}

/* main section css start */

/* header area css start */
header{
    background-color: #562EFF;
    height: 94px;
    align-items: center;
}
.header-main-area{
    
    display: flex;
    justify-content: center;
    width: 870px;
}
.header-area{
    display: flex;
    justify-content: space-between;
    align-items: center;
    
    
}
.logo{
    display: flex;
}
.logo img{
    width: 40px;
    height: 51px;
}
.nav-bar{
    display: flex;

}
.nav-bar ul{
    display: flex;
}


/* header area css end */


/* top area start */

.top-player-img{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-row-gap: 20px;
    margin-bottom: 30px;
}
.player-img{
    width: 54px;
    height: 54px;
}
.top-player-img div{
    display: flex;
    align-items: center;
    gap: 16px;
}
.line{
    border: 1px solid black;
    margin-bottom: 30px;
}
.top-blog{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 25px;
}
.blog-img{
    display: flex;
    align-items: top;
    justify-content: space-evenly;
    gap: 15px;
}
.blog-title{
    font-size: 20px;
    font-weight: 500;
    color: #000000;
}
.blog-img div p{
    color: #9F9F9F;
    font-size: 16px;
}
.blog-author{
    color: #562EFF;
    font-size: 16px;
}
.blog-img div img{
    height: 140px;
    width: 177px;
    object-fit: cover;
    border-radius: 10px;
}
/* top area end */

/* crouse section css start */
.course{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}
.single-course{
    width: 252.42px;
    height: 269.79px;
    border-radius: 10px;
    box-shadow: 5px 5px 12px 0px rgb(0 0 255 / 20%);
    
}
.course-banner {
    width: 100%;
    padding: 5px;
}
.course-banner img{
    width: 100%;

}
.course-detail{
    padding: 0 0 0 5px;
}
.course-detail h2{
    font-size: 20.03px;

}
.instructor{
    color:#ED6B4F;
    font-size: 15px;
    margin-bottom: 20px;
}
.course-rating{
    display: flex;
    justify-content: space-around;
    padding: 5px;
}
.filled{
    color: #FFC014;
}
.empty{
    color:#AEAEAE;
    Opacity: 25%;
}
.rating-mark{
    color: #A2A2A2;
}

.time{
    display: flex;
    width: 94px;
    height: 24px;
    gap: 5px;
    background-color: #FFE4E8;
    border-radius: 15px;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-evenly;
    align-items: center;
}
.fa-clock{
    color: #FF4A60;
}
/* crouse section css end */

/* main section css end */


/* media queries */

@media screen and  {
    
}